div{
    padding: 10px;
<<<<<<< HEAD
}

#center{
    text-align: left;
}

#warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #000000;
    padding-top: 20px;
=======
>>>>>>> 44e1252ccb4becf5fb0ed175208050f1c394fc54
}